@font-face {
  font-family: 'crashLogo';
  src: url('crashLogoFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {background-color: black}
h1 {
 background-color: #202020;
 border: 2px solid black;
 padding: 15px;
 margin: 20px;
 border-radius: 25px; 
 color: white;
 align-content: center;
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
 font-size: 150px;
 margin-top: 150px;
 font-family: crashLogo;
}
p {
 background-color: #202020;
 border: 2px solid black;
 padding: 15px;
 margin: 20px;
 border-radius: 25px; 
 color: white;
 align-content: center;
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
 font-size: 50px;
}
