@font-face {
  font-family: 'crashLogo';
  src: url('fonts/crashLogoFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {background-color: black}
h1 {
 background-color: #202020;
 border: 2px solid black;
 padding: 25px;
 margin: 20px;
 border-radius: 25px; 
 color: white;
 width: fit-content;
 font-size: 150px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 150px;
}
h2 {
 background-color: #202020;
 border: 2px solid black;
 padding: 25px;
 margin: 20px;
 border-radius: 25px; 
 color: white;
 width: fit-content;
 font-size: 35px;
 margin-left: auto;
 margin-right: auto;
}
p {
 background-color: #202020;
 border: 2px solid black;
 padding: 15px;
 margin: 20px;
 border-radius: 15px; 
 color: white;
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
 font-size: 25px;
}
table {
  color: white;
  background-color: #202020;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid white;
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Archivo Narrow";
}
.logo {
 font-family: crashLogo;
 font-style: italic;
}
.maxWidthPhoto {
 display: block;
 width: auto;
 margin-left: auto;
 margin-right: auto;
}
.bodyParagraph {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  font-family: "Archivo Narrow";
}
